<nav>
  <ul class="pagination">
    <li class="page-item" appClass [ngClass]="{disabled:currentpage===0}">
      <a class="page-link" (click)="currentpage=currentpage-1">Prev</a>
    </li>
    <ng-container *ngFor="let image of images;let i=index"> 
      <li class="page-item" [ngClass]="{active:i===currentpage}" *ngIf="checkWindowIndex(i)"
     >
      <a (click)="currentpage=i" class="page-link">{{i +1}}</a>
      </li> 
    </ng-container>  
    <li class="page-item" [ngClass]="{disabled:currentpage===images.length-1}"
    >
      <a class="page-link" (click)="currentpage=currentpage+1">Next</a>
    </li> 
  </ul>    
</nav>

<!-- <div>
  <h4>{{images[currentpage].title}}</h4>
  <img [src]="images[currentpage].url"/>
</div> -->

<div [ngSwitch]="currentpage">
  <div *ngSwitchCase="0">
    Current page is zero
  </div>
  <div *ngSwitchCase="0">
    Current page is two
  </div>
  <div *ngSwitchCase="0">
    Current page is three
  </div>
  <div *ngSwitchDefault>
     ukown current page!
  </div>
</div>